<h1 (click)="toggleTitle()">
  {{ title }}
</h1>

<ul><!-- unordered list : liste non ordonnée -->
  <li *ngFor="let stagiaire of stagiaires"> <!--création de la variable stagiaire qui sera
    une instance de stagiaires et sera créée en boucle-->
    {{ stagiaire.getLastName() }} {{ stagiaire.getFirstName() }}
  </li>
</ul>



<app-stagiaire-form></app-stagiaire-form>

<app-stagiaire-table></app-stagiaire-table>

<input [type]="inputType" placeholder="insert coins">
<button
type="button"
(click)="showPassword()"
[disabled]="this.inputType === 'text'"
>
:&#x1F37A;
</button>


<p>Le langage <abbr title="HyperText Markup Language">HTML</abbr>est interprété par Angular</p>

<p>Le langage <abbr [title]="abbrHTML">HTML</abbr>est interprété par Angular</p>